.about {
    margin-left: 250px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.Alex-img {
    border: 1px solid #2E151B;
    box-shadow: 0 2px 9px #9099A2;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-right: 20px;
    margin-top: 20px;
}
