.about {
    font-size: larger;
    margin-top: 10%;
    margin-bottom: 20%;
}

.about-text {
    font-family: 'Karla', sans-serif;
    text-align: justify;
    margin: 10px;
}

.header {
    font-size: 50px;
    padding-bottom: 5%;
}

@media only screen and (max-width: 600px){
    .about {
      padding-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 100px;
    }
/* 
    .eye-img {
        width: 100%;
    } */

    .about-text {
        font-size: 5vw;
        text-align: justify;
    }

  
  }  
