.about {
    margin-left: 250px;
    margin-right: 50px;
    /* margin-bottom: 100px; */
    padding-bottom: 170px;
    /* padding-top: 70px; */
    font-size: larger;
}

.eye-img {
    width: 60%;
    height: auto;
    padding-bottom: 50px;
}

.about-text {
    margin-top: 50px;
    font-family: 'Karla', sans-serif;
    text-align: justify;
}

.header {
    font-size: 50px;
}

@media only screen and (max-width: 600px){
    .about {
      padding-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 100px;
    }

    .eye-img {
        width: 100%;
    }

    .about-text {
        font-size: 5vw;
        text-align: justify;
    }

    .header {
    background-image: url('../Images/colors.gif');
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-size: 12vw;
    }
  }  
