.carousel {
    margin-left: 250px;
    margin-right: 50px;
    height: 500px;
    border: 1px solid #9099A2;
    box-shadow: 0 2px 9px #9099A2;
    border-radius: 4px;
    padding: 5px;
    margin-top: 20px;
}
