.offer {
    position: relative;
    width: auto;
    margin-left: 25%;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
  }

.services-title {
  font-size: 2vw;
}

.services-text {
   font-size: 1.7vw;
   text-align: left;
}

ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none}
ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
  padding-right: 0.1em;
  background: white}
ul.leaders span + span {
  float: right;
  padding-left: 0.1em;
  background: white}


@media only screen and (max-width: 600px){
    .offer {
      width: 95%;
      margin-top: 25%;
      margin-bottom: 10%;
      margin-left: 1.2%;
      margin-right: 1%;
    }

    .services-title {
      font-size: 7vw;
    }

    .services-text {
      font-size: 6vw;
   }
  }  