.offer {
    display: inline-block;
    width: 250px;
    padding: 20px;
    margin: 20px;
    position: relative;
    left: 100px;
    border: 1px solid #2E151B;
    box-shadow: 0 2px 9px #9099A2;
    border-radius: 4px;
}