.App {
  text-align: center;
  background-color: #E5E6EB;
  color: #60555D;
  font-family: 'Voga';
}

.offer-container {
  padding-top: 15%;
}

@media only screen and (max-width: 600px){
 
  .offer-container {
    padding-top: 5%;
    padding-bottom: 35%;
  }
} 