.nav {
  position: relative; 
  height: 100vh;
  width: 100%;
}

.nav::before {    
    content: "";
    background-image: url('../Images/landing2.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.logo-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  
}

.nav-img {
  width: 40%;
  margin-left: -15%;
  margin-top: -10%;
}

.path {
  stroke-dasharray: 3000;
  stroke-dashoffset: 3500;
  animation: dash 4s linear forwards;
  animation-delay: 0.5s;
}


@keyframes dash {
  to {
    stroke-dashoffset: 0;
    transition: transform 900ms linear;
	  will-change: transform;
  }
}

.al {
  font-size: 2vw;
  position: relative;
  width: 20%;
  margin-top: -17%;
  margin-left: 31%;
  color: #222222;
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  animation: fadein 4s;
}

@keyframes fadein {
  0% { opacity:0; }
  90% { opacity:0; }
  95% {opacity: 0.5;}
  100% { opacity:1; }
}

@media screen and (max-width: 600px) {
  .nav-li {
   display: none;
  }

  .nav {
    position: relative;
    padding-top: 20%;
  }

  .nav-img {
    width: 90%;
    margin-top: -40%;
  }


  .al {
    font-size: 3.5vw;
    width: 30%;
    margin-top: -50%;
    margin-left: 25%; 
  }
}
