/* .nav {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 2%;
} */

.nav {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
}

.nav::before {    
    content: "";
    background-image: url('../Images/landing2.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

/* .nav-li {
  position: relative;
  font-size: 2vw;
  color: #FFFFFF;
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 5%;
  margin-right: 2%;
} */

.nav-img {
  position: relative;
  height: 10%;
  float: left;
}

@media screen and (max-width: 600px) {
  .nav-li {
   display: none;
  }

  .nav {
    position: relative;
    padding-top: 20%;
  }

  .nav-img {
    width: 90%;
    float: none;
  }
}
