.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-image: linear-gradient(to top, rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 60%), url('https://i.imgur.com/j8KVXI4.jpg');
    opacity: 90%;
    box-shadow: 0 2px 9px #9099A2;
  }

  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
  }
  
 
   
  
